services:
  python-service:
    build:
      context: .
      dockerfile: Dockerfile.python
    ports:
      - "8000:8000"
    environment:
      SPOTIPY_REDIRECT_URI: "http://127.0.0.1:8000/App/spotify_callback"
    volumes:
      - .:/app
    working_dir: /app/Site
    command: daphne -b 0.0.0.0 -p 8000 Site.asgi:application
