daphne
Appium-Python-Client
asgiref
attrs
Brotli
certifi
cffi
charset-normalizer
coverage
deprecation
Django
eyed3
filetype
h11
idna
networkx
outcome
packaging
pycparser
pycryptodomex
PySocks
requests
sniffio
sortedcontainers
spotipy
sqlparse
toml
trio
trio-websocket
typing_extensions
tzdata
urllib3
websocket-client
websockets
wsproto
yt-dlp