<!DOCTYPE html>
<html>
<body>
<form action="" method="post">
    {{ form }}
    <input type="submit" value="Submit">
    <h2>ok so lock in there are some quirks to this site:</h2>
    <br>
    <ul>
        <li>firstly you must have a tab with youtube open and signed into on the same browser - this lets the site go sneaky mode</li>
        <li>also to download multiple things, duplicate the download in a new tab my async is shit on this old ass project so its better to do this to run in parralell - async on the way tho dw</li>
        <li>also be patient especially if you have a large spotify library my shit is extremely robust but very slow</li>
    </ul>
    <h2>ok and most importantly go to</h2><a href="https://developer.spotify.com/">the spotify dev site</a> <h2>and sign in with your normal spotify, then go to dashboard and create a new app</h2>
    <br>
    <h2>after you did this in the redirect uri put this site but with /App/spotify_callback appended to it nothing else matters</h2>
    <br>
    <h2>after you do this you should see a client id and client secret (click view client secret)</h2>
    <h1>have fun!!!!!</h1>
</form>
</body>
</html>