{% extends "master.html" %}
{% block title %}
    Free Music
{% endblock %}

{% block content %}
<div class="item1"><a href = "/browser/playlist-Lib">your playlists</a></div>
<div class="item2"><a href = "/browser/album-Lib">your albums</a></div>
<div class="item3"><a href = "/browser/track-Lib">your songs</a></div>
<div class="item5"><a href = "/browser/artist-Top">your top artists</a></div>
<div class="item6"><a href = "/browser/album-Top">your top albums</a></div>
<div class="item7"><a href = "/browser/track-Top">your top songs</a></div>
<div class="item8"><a href = "/browser/track-Rec">recently played</a></div>
<div class="item4"><a href = "/browser/search">search library</a></div>
<div class="item9"><a href = "/browser/search">search web</a></div>
{% endblock %}